audioop-lts==0.2.1
beautifulsoup4==4.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
comtypes==1.4.11
idna==3.10
pypiwin32==223
pyttsx3==2.99
pywin32==311
requests==2.32.4
soupsieve==2.7
SpeechRecognition==3.14.3
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.14.1
urllib3==2.5.0
wikipedia==1.4.0
PyAudio==0.2.11 ;
